@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.button {
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* Header */
.page-header {
  display: flex;
  margin: 0 auto;
  width: 1060px;
}

.logo {
  margin: 0 28px 0 0;
  z-index: 1;
}

.navigation {
  display: flex;
  width: 960px;
}

.navigation * {
  box-sizing: border-box;
}

/* Navigation menu */
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-list > .navigation-item:nth-child(1) {
  width: 100px;
}

.navigation-list > .navigation-item:nth-child(2) {
  width: 114px;
}

.navigation-list > .navigation-item:nth-child(3) {
  width: 125px;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  bottom: 0;
  transform: translateY(1px);
  right: 16px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

/* User menu */
.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 310px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
}

.navigation-link-search,
.navigation-link-favorite {
  display: block;
  padding: 22px 12px;
  min-width: 44px;
  min-height: 64px;
  text-decoration: none;
  cursor: pointer;
}

.navigation-link-favorite {
  position: relative;
}

.navigation-user > .navigation-item:nth-child(3) {
  padding: 14px 0 14px 20px;
  text-align: right;
}

.total-favorites {
  position: absolute;
  top: 11px;
  left: 20px;
  width: 20px;
  color: #ffffff;
  font-size: 10px;
  line-height: 20px;
  background-color: #7db54f;
  border-radius: 10px;
  text-align: center;
}

.navigation-button {
  display: block;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  background-color: #756157;
}

.navigation-button:hover {
  background-color: #615048;
}

.navigation-button:focus-visible {
  background-color: #615048;
}

.navigation-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.navigation-item .navigation-icon {
  fill: #000000;
}

.navigation-item:hover .navigation-icon {
  fill: #756157;
}

.navigation-item:focus-visible .navigation-icon {
  fill: #756157;
}

/* Making sticky footer */
.main-index {
  flex-grow: 1;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  padding: 51px 371px 82px;
  align-items: center;
  margin: -6px 0 0;
  background-image: url("../images/hero/background-hero.jpg");
  background-repeat: no-repeat;
  background-color: #5685b3;
  background-size: 100% auto;
}

.welcome-logo {
  margin-bottom: 10px;
}

.gorgeous-logo {
  margin-bottom: 54px;
}

/* Advantages */
.advantages {
  padding-top: 69px;
  margin: 0;
  text-align: center;
}

.advantages-title-main {
  margin: 0 0 25px;
  padding: 0 280px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-reasons {
  margin: 0 0 90px;
  color: #333333;
}

.advantages-list,
.recomendation-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
}

.advantages-item,
.recomendation-item {
  position: relative;
  box-sizing: border-box;
  min-height: 384px;
}

.advantages-item-light-blue,
.advantages-item-blue {
  width: 400px;
  padding: 103px 80px 110px;
}

.advantages-item-dark-blue,
.recomendation-item-dark-blue {
  width: 1200px;
  display: flex;
  margin: 0;
  padding: 0;
  grid-column: span 3;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-show,
.recomendation-show {
  vertical-align: top;
}

.real-city,
.devil-bridge {
  position: relative;
  padding: 92px 80px 100px;
  width: 400px;
  box-sizing: border-box;
}

.advantages-title,
.recomendation-title {
  position: relative;
  padding: 0 30px;
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title.drop-dark,
.advantages-title.drop-white,
.recomendation-title.drop-white {
  margin: 0 0 62px;
}

.drop-white::after {
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 60px;
  height: 2px;
  transform: translate(-50%, 50%);
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
}

.drop-dark::after {
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 60px;
  height: 2px;
  transform: translate(-50%, 50%);
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-item-light-blue,
.recomendation-item-light-blue {
  background-color: rgba(130, 179, 211, 0.12);
}

.advantages-item-blue {
  background-color: rgba(130, 179, 211, 0.2);
}

.advantages-item-blue > p {
  color: #333333;
}

.advantages-item-light-blue > p {
  color: #333333;
}

.advantages-description,
.recomendation-description {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

/* Recomendation */
.recomendation-item-light-blue,
.recomendation-item-white {
  width: 400px;
  padding: 182px 80px 70px;
}

.recomendation-item-light-blue > p {
  color: #333333;
}

.recomendation-item-white > p {
  color: #333333;
}

.recomendation-item-dark-blue {
  flex-direction: row-reverse;
}


.recomendation-item.accommodation {
  background-image: url("../images/advantages/accommodation.svg");
  background-repeat: no-repeat;
  background-size: 76px 72px;
  background-position: center 80px;
}

.recomendation-item.food {
  background-image: url("../images/advantages/burger.svg");
  background-repeat: no-repeat;
  background-size: 75px 70px;
  background-position: center 81px;
}

.recomendation-item.souvenir {
  background-image: url("../images/advantages/souvenir.svg");
  background-repeat: no-repeat;
  background-size: 65px 76px;
  background-position: center 78px;
}

/* hotel searching  */
.hotel-searching {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 96px 0;
  text-align: center;
}

.hotel-searching-title {
  margin: 0 auto 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-searching-text {
  margin: 0 auto 54px;
  padding: 0 300px;
  color: #333333;
}

.searching-button {
  display: block;
  padding: 8px 50px;
  margin: 0 auto;
  background-color: #756157;
}

.searching-button:hover {
  background-color: #615048;
}

.searching-button:focus-visible {
  background-color: #615048;
}

.searching-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.searching-button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

/* Subscribe */
.subscribe {
  min-height: 215px;
  margin: 0;
  padding: 96px 258px 104px;
  text-align: center;
  color: #ffffff;
  background-image: url("../images/subscribe/background-subscribe.png");
  background-repeat: no-repeat;
  background-color: #8cacd2;
  background-size: 100% auto;
}

.subscribe-title {
  margin: 0 0 20px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  padding: 0;
  margin: 0 0 54px;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 1fr auto;
}

.field {
  border: none;
  margin: 0;
  padding: 14px 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  background-color: #ffffff;
}

.field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.newsletter-button {
  margin: 0;
  padding: 8px 50px;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.newsletter-button:hover {
  background-color: #68a2ca;
}

.newsletter-button:focus-visible {
  background-color: #68a2ca;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.newsletter-button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

/* Footer */
.page-footer {
  display: flex;
  align-items: center;
  padding: 40px 70px 30px;
  margin: 0;
  min-height: 50px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-social-item {
  position: relative;
  width: 48px;
  height: 40px;
  box-sizing: border-box;
}

.button-social {
  display: block;
  cursor: pointer;
}

.button-vk {
  min-height: 14px;
  padding: 13px 12px;
}

.button-telegram {
  min-height: 16px;
  padding: 12px 15px;
}

.button-youtube {
  min-height: 16px;
  padding: 12px 13px;
}

.footer-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.button-social:hover .footer-icon {
  fill: #68a2ca;
}

.button-social:focus-visible .footer-icon {
  fill: #68a2ca;
}

.button-social:active .footer-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social {
  width: 145px;
  padding: 0;
  margin: 0;
}

.footer-phone {
  width: 335px;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
}

a.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

a.footer-phone:hover {
  color: #756157;
}

a.footer-phone:focus-visible {
  color: #756157;
}

a.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-made-by {
  position: relative;
  width: 115px;
  padding: 0;
  margin: 0;
  text-align: right;
}

.htmlacademy-link {
  display: block;
  min-width: 120px;
  min-height: 40px;
  cursor: pointer;
}

.htmlacademy-link .footer-icon {
  fill: #000000;
}

.htmlacademy-link:hover .footer-icon {
  fill: #756157;
}

.htmlacademy-link:focus-visible .footer-icon {
  fill: #756157;
}

.htmlacademy-link:active .footer-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-search {
  box-sizing: border-box;
  width: 717px;
  padding: 64px 70px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  padding: 0;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-container-close {
  display: none;
}

.searching-form {
  display: grid;
  grid-template-columns: 247px 242px;
  grid-gap: 48px 88px;
}

.searching-form * {
  box-sizing: border-box;
}

.form-label {
  margin-right: auto;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.field-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.searching-form-date,
.searching-submit {
  position: relative;
  grid-column: 1 / -1;
}

.searching-form-adults,
.searching-form-child {
  position: relative;
}

.searching-form-date .field {
  width: 440px;
  font-weight: 700;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  background-image: url("../images/date.svg");
  background-repeat: no-repeat;
  background-position: 400px center;
  background-size: 20px;
  cursor: pointer;
}

.check-date-error {
  position: absolute;
  top: 52px;
  left: 157px;
  color: #ff5757;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.check-date-correct {
  position: absolute;
  top: 52px;
  left: 157px;
  display: none;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.date-error {
  display: none;
}

.date-available {
  display: block;
}

.searching-form-adults .field,
.searching-form-child .field {
  width: 110px;
  color: #000000;
  text-align: center;
  font-weight: 700;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
}

.number-minus {
  position: absolute;
  right: 71px;
  top: 0;
  width: 40px;
  height: 48px;
  padding: 0;
  text-align: center;
  border: none;
}

.number-plus {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 48px;
  padding: 0;
  text-align: center;
  border: none;
}

.number-minus::after {
  position: absolute;
  top: 23px;
  right: 14px;
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  content: "";
}

.number-plus::before {
  position: absolute;
  top: 23px;
  right: 13px;
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  transform: rotate(90deg);
  content: "";
}

.number-plus::after {
  position: absolute;
  top: 23px;
  right: 13px;
  width: 14px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  content: "";
}

.searching-form-adults:hover .number-minus,
.searching-form-adults:hover .number-plus,
.searching-form-child:hover .number-minus,
.searching-form-child:hover .number-plus {
  border-color: #000000;
  cursor: pointer;
}

.searching-form-adults:focus-visible .number-minus,
.searching-form-adults:focus-visible .number-plus,
.searching-form-child:focus-visible .number-minus,
.searching-form-child:focus-visible .number-plus {
  border-color: #756157;
}

.field-group input[type="number"]::-webkit-outer-spin-button,
.field-group input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.tooltip {
  position: absolute;
  margin-top: -1px;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #ffffff;
}

.tooltip-text {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 18px 18px 22px;
  display: none;
  width: 256px;
  margin-top: 15px;
  color: #ffffff;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.tooltip-text::after {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 19px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/tooltip-arrow.svg");
  content: "";
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.searching-submit {
  margin: 0;
  padding: 18px 0;
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 24px;
  background-color: #82b3d3;
}

.searching-submit:hover {
  background-color: #68a2ca;
}

.searching-submit:focus-visible {
  background-color: #68a2ca;
}

.searching-submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}
